<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Template</title>
<link rel="stylesheet" href="style.css" />

<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
</head>
<body>
<div id="container">
<div id="header">Bl0gger</div>
<div id="nav">
<div id="navleft"></div>
<ul>
<li>
<a href="index.html">Link</a>
</li>
<li>
<a href="index.html">Link</a>
</li>
<li>
<a href="index.html">Link</a>
</li>
<li>
<a href="index.html">Link</a>
</li>
</ul>
<div id="navright"></div>
</div>
<div id="shadow-top">
</div>
<div id="text">
<div id="sidebar">
<div class="block">
<div class="blockheader">Block</div>
<div class="blockcontents">
<p>
This is a long, meaningless paragraph. This is a long, meaningless paragraph. This is a long, meaningless paragraph. This is a long, meaningless paragraph. This is a long, meaningless paragraph. This is a long, meaningless paragraph. This is a long, meaningless paragraph. This is a long, meaningless paragraph. This is a long, meaningless paragraph. This is a long, meaningless paragraph. his is a long, meaningless paragraph. 
</p>
</div>
</div>
<div class="block">
<div class="blockheader">Login</div>
<div class="blockcontents">
<form action = 'index.html'>
<table cellpadding="2" align="center">
<tr><td>Username</td><td><input type="text" name="username" size="8"/></td></tr>
<tr><td>Password</td><td><input type="password" name="password" size="8"/></td></tr>
<tr><td>Submit</td><td><input type="submit" value="Log In"/></td></tr>
</table>
</form>
</div>
</div>
<div class="block">
<div class="blockheader">Links</div>
<div class="blockcontents">
<ul>
<li><a href="http://www.1templates.net">1Templates.net</a></li>
<li><a href="http://www.1scripts.net">1Scripts.net</a></li>
</ul>
</div>
</div>
</div>
<div id="left">
<h1>Website</h1>
<p>
This is a long, meaningless paragraph. This is a long, meaningless paragraph. This is a long, meaningless paragraph. <img src="fern2.png" class="imageright" width="80" alt="Fern"/>This is a long, meaningless paragraph. This is a long, meaningless paragraph. This is a long, meaningless paragraph. This is a long, meaningless paragraph. This is a long, meaningless paragraph. This is a long, meaningless paragraph. This is a long, meaningless paragraph. his is a long, meaningless paragraph. 
</p>
<p>
This is another long, meaningless paragraph. This is another long, meaningless paragraph. This is another long, meaningless paragraph. This is another long, meaningless paragraph. This is another long, meaningless paragraph. This is another long, meaningless paragraph. This is another long, meaningless paragraph. This is another long, meaningless paragraph. This is another long, meaningless paragraph. This is another long, meaningless paragraph. 
</p>
<ul>
<li>a</li>
<li>b</li>
<li>c</li>
</ul>
<h2>Boxes</h2>
<div id="quote">
Web design is awesome!<br/>
<em>- Random Guy</em>
</div>
<div id="wbox">
<strong>Fatal error:</strong> A fatal error has occured...
</div>
<h2>Heading</h2>
<p>
text
</p>
<h3>Heading</h3>
<p>
abcdefg
</p>
<h4>Heading</h4>
<p>
qwertyuiop
</p>
<h1>Table</h1>
<table width="75%" border="1">
<tr>
<th colspan="4">Table</th>
</tr>
<tr>
<td>1</td><td>2</td><td>3</td><td>4</td>
</tr>
<tr>
<td>1</td><td>2</td><td>3</td><td>4</td>
</tr>
<tr>
<td>1</td><td>2</td><td>3</td><td>4</td>
</tr>
<tr>
<td>1</td><td>2</td><td>3</td><td>4</td>
</tr>
</table>
</div>
</div>
<div id="shadow-bottom">
</div>
<div id="credit">
Template made by <a href="http://www.1templates.net">1Templates.net</a>.
</div>
</div>
</body>
</html>

