body {
	margin: 0;
	font-family: verdana, arial, sans-serif;
	background-color: #eee;
}
#container {
	margin: 0 auto;
	width: 700px;
}
#header {
	width: 700px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	font-size: 36px;
	margin-top: 10px;
	margin-left: 7px;
	background-image: url('bl0gger/app/assets/images/header.png');
	color: white;
}
#nav a {
	color: white;
}

#nav {
	height: 50px;
	line-height: 50px;
	width: 700px;
	margin-top: 10px;
	margin-left: 7px;
}
#nav ul {
	list-style-type: none;
	margin: 0 ;
	padding: 0;
	background-image: url('images/nav.png');
}
#nav ul li {
	display: inline;
	padding-top: 12px;
	padding-bottom: 12px;
	background-image: url('images/navseparator.png');
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 10px;
	padding-left: 10px;
}
#nav ul li #end {
	background: 0;
}
#navleft {
	float: left;
	width: 25px;
	height: 50px;
	background-color: #eee;
	background-image: url('images/navleft.png');
}
#navright {
	float: right;
	width: 25px;
	height: 50px;
	margin-top: -50px;
	background-color: #eee;
	background-image: url('images/navright.png');
}

#shadow-top {
	width: 712px;
	height: 10px;
	font-size: 0px;
	margin-top: 10px;
	background-image: url('images/shadowtop.png');
}
#shadow-bottom {
	width: 712px;
	height: 10px;
	background-image: url('images/shadowbottom.png');
	clear: both;
}
#sidebar {
	width: 185px;
	margin-right: 6px;
	margin-top: -4px;
	padding-left: 15px;
	padding-right: 15px;	
	float: right;
	margin-left: auto;
}
div.block {
	padding-top: 5px;
	width: 95%;
	margin-left:auto;
	margin-right: auto;
}
div.blockheader {
	padding: 2px;
	background-image: url('images/blockheader.png');
}
div.blockcontents {
	border: 1px solid #e7e7e7;
	background-color: white;
	padding: 5px;
}
#text {
	width: 696px;
	padding-left: 16px;
	padding-top: 6px;
	float: left;
	text-align: left;
	background-image: url('images/shadowbody.png');
}
#left {
	width: 460px;
	border-right: 1px solid #aaa;
	padding-right: 15px;
}
#credit {
	margin-left: 6px;
	font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

#text h2 {
	color: black;
	margin-bottom: 5px;
}
#text h3, h4, h5, h6 {
	margin-bottom: 5px;
}
#text table {
	border-collapse: collapse;
}
#text th {
	background-color: #eee;
}
#text h1 {
	font-size: 24px;
	border-bottom: 1px solid #aaa;
	color: black;
	margin-bottom: 7px;
}
#text ul
{
	margin-left: 10px;
	padding-left: 0;
	list-style: none;
}

#text ul li
{
	padding-left: 13px;
	background-image: url('images/bullet.png');
	background-repeat: no-repeat;
	background-position: 0 .4em;
}
#text img.image {
	border: 1px solid #245fa9;
}
#text img.imageright {
	border: 1px solid #245fa9;
	float: right
}
#text img.imageleft {
	border: 1px solid #245fa9;
	float: left;
}
#quote {
	padding: 10px;
	margin: 10px 0;
	background-color: #c8d5e6;
	border-left: 5px solid #245fa9;
}
#wbox {
	padding: 10px;
	margin: 10px 0;
	border-left: 5px solid #ffae00;
	background-color: #ffe79f
}


